# vim
*~
*.sw?

# generic editing tools
tags

# mac
*.DS_Store

# wandows
.vscode/

# build tools
node_modules/

# logfiles
*.log
.idea/

src/
build/test/

# but do ignore
yarn.lock
base.tsconfig.json
tsconfig.json
README.md
tslint.json
.npmignore
